@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* Custom properties */
:root {
    --color-primary: #0891b2;
    --font-main: 'Outfit', sans-serif;
}

/* Apply Outfit font globally */
body {
    font-family: var(--font-main);
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}